<section class="about-section" id="about">
  <div class="about-container container">
    <h2 class="about-title">Чому Хатинка Лапок</h2>
    <div class="about-gallery swiper my-swiper">
      <ul class="about-list swiper-wrapper">
        <li class="about-item swiper-slide">
          <img class="about-img" src="../img/desk/about/img1.jpg" alt="" />
          <p class="about-text"></p>
        </li>
        <li class="about-item swiper-slide">
          <img class="about-img" src="../img/desk/about/img2.jpg" alt="" />
          <p class="about-text"></p>
        </li>
        <li class="about-item swiper-slide">
          <img class="about-img" src="../img/desk/about/img3.jpg" alt="" />
          <p class="about-text"></p>
        </li>
        <li class="about-item swiper-slide">
          <img class="about-img" src="../img/desk/about/img4.jpg" alt="" />
          <p class="about-text"></p>
        </li>
        <li class="about-item swiper-slide">
          <img class="about-img" src="../img/desk/about/img5.jpg" alt="" />
          <p class="about-text"></p>
        </li>
      </ul>
      <div class="swiper-nav-buttons">
        <div class="swiper-button-prev">
          <svg width="48" height="48">
            <use href="../img/symbol-defs.svg#icon-arrow_back"></use>
          </svg>
        </div>
        <div class="swiper-button-next">
          <svg width="48" height="48">
            <use href="../img/symbol-defs.svg#icon-arrow_forward"></use>
          </svg>
        </div>
      </div>
      <div class="swiper-pagination">
        <span>
          <svg>
            <use href="../img/icons/dot.svg"></use>
          </svg>
        </span>
        <span>
          <svg>
            <use href="../img/icons/dot.svg"></use>
          </svg>
        </span>
        <span>
          <svg>
            <use href="../img/icons/dot.svg"></use>
          </svg>
        </span>
        <span>
          <svg>
            <use href="../img/icons/dot.svg"></use>
          </svg>
        </span>
        <span>
          <svg>
            <use href="../img/icons/dot.svg"></use>
          </svg>
        </span>
      </div>
    </div>
  </div>
</section>
