<div class="d-modal">
  <div class="modal-container container">
    <svg class="form-close-btn" width="32" height="32">
      <use href="../img/symbol-defs.svg#icon-close"></use>
    </svg>
    <div class="d-modal-halfL">
      <img class="d-modal-img" src="../img/desk/pets/card-1.jpg" alt="" />
    </div>
    <div class="d-modal-halfR">
      <p class="modal-pet-spec">Собака</p>
      <h3 class="modal-pet-name">Джек</h3>
      <div class="modal-pet-wrap">
        <p class="modal-pet-age">4 роки</p>
        <p class="modal-pet-sex">Хлопчик</p>
      </div>
      <ul class="modal-pet-txt">
        <li>
          <h4 class="modal-pet-txt-sub">Опис:</h4>
          <p class="modal-pet-sub-txt">
            Цей пухнастик має унікальну історію та чекає на люблячу родину. Його
            характер — спокійний та дружелюбний. Повністю здоровий,
            вакцинований, привчений до лотка. Ідеально ладнає з дітьми та іншими
            тваринами, тому стане чудовим другом для всієї сім'ї.
          </p>
        </li>
        <li>
          <h4 class="modal-pet-txt-sub">Здоров'я:</h4>
          <p class="modal-pet-sub-txt">
            Здоровий, кастрований, вакцинований. Потребує регулярного
            вичісування шерсті.
          </p>
        </li>
        <li>
          <h4 class="modal-pet-txt-sub">Поведінка:</h4>
          <p class="modal-pet-sub-txt">
            Бажано бути єдиною твариною в сім'ї. Не любить конкуренції за увагу.
          </p>
        </li>

        <button class="d-modal-submit-btn" type="button">Взяти додому</button>
      </ul>
    </div>
  </div>
</div>
