<footer class="footer">
  <div class="footer-container container">
    <a href="" class="footer-logo">
      <svg width="302" height="130">
        <use href="../img/symbol-defs.svg#icon-Company-Logo"></use>
      </svg>
    </a>
    <ul class="footer-links">
      <li><a class="footer-link" href="">Про нас</a></li>
      <li><a class="footer-link" href="">Знайти друга</a></li>
      <li><a class="footer-link" href="">Часті запитання</a></li>
      <li><a class="footer-link" href="">Історії успіху</a></li>
    </ul>
    <ul class="footer-socials">
      <li>
        <a class="footer-socials-link" href="">
          <svg width="32" height="32">
            <use href="../img/symbol-defs.svg#icon-Facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="footer-socials-link" href="">
          <svg width="32" height="32">
            <use href="../img/symbol-defs.svg#icon-Instagram"></use>
          </svg>
        </a>
      </li>
    </ul>
    <div class="footer-copyright">
      © 2025 Хатинка лапок. Всі права захищені.
    </div>
  </div>
</footer>
