<header class="header">
  <div class="header-container container">
    <nav class="header-nav">
      <a href="#hero" class="logo">
        <svg width="160" height="62">
          <use href="../img/symbol-defs.svg#icon-Company-Logo"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-list-item">
          <a class="nav-link" href="#pets">Знайди друга</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-link" href="#about">Про нас</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-link" href="#faq">Часті запитання</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-link" href="#success">Історії успіху</a>
        </li>
      </ul>
    </nav>
    <a href="" class="nav-btn">Взяти друга</a>
  </div>
</header>
