<div class="backdrop">
  <div class="modal">
    <form class="ad-form">
      <svg class="form-close-btn" width="32" height="32">
        <use href="../img/symbol-defs.svg#icon-close"></use>
      </svg>
      <h2 class="form-title">Залишіть заявку на знайомство</h2>
      <div class="form-content">
        <label class="form-label"
          >Ім’я*<input
            class="form-input"
            type="text"
            placeholder="Ваше ім'я"
            name="user-name"
            id="name-input"
            required
        /></label>
        <label class="form-label"
          >Телефон*<input
            class="form-input"
            type="tel"
            placeholder="Ваш номер телефону"
            name="user-phone"
            id="tel-input"
            required
        /></label>
        <label class="form-label"
          >Коментар
          <textarea
            class="form-txt"
            name="user-comments"
            placeholder="Напишіть ваш коментар"
          ></textarea>
        </label>
        <button class="form-btn" type="submit">Надіслати</button>
      </div>
    </form>
  </div>
</div>
