<section class="pets-section" id="pets">
  <div class="pets-container container">
    <h2 class="pets-section-title">Наші хвостики</h2>
    <p class="pets-sub">Вони дуже чекають на знайомство з вами</p>
    <ul class="pets-filters">
      <li class="pets-filter-item">Всі</li>
      <li class="pets-filter-item">Собаки</li>
      <li class="pets-filter-item">Коти</li>
      <li class="pets-filter-item">Кролики</li>
      <li class="pets-filter-item">Гризуни</li>
      <li class="pets-filter-item">Птахи</li>
      <li class="pets-filter-item">Тварини з особливими потребами</li>
      <li class="pets-filter-item">Терміново шукають дім</li>
    </ul>
    <ul class="pets-gallery">
      <li class="pets-card">
        <img
          class="pets-card-img"
          alt="Джек"
          src="../img/desk/pets/card-1.jpg"
        />
        <div class="pets-card-cont">
          <p class="pet-spec">Собака</p>
          <h3 class="pet-name">Джек</h3>
          <div class="pet-filter-wrap">
            <p class="pet-filter">Собаки</p>
          </div>
          <div class="pet-wrap">
            <p class="pet-age">4 роки</p>
            <p class="pet-sex">Хлопчик</p>
          </div>
          <p class="pet-txt">
            Дуже активний, любить довгі прогулянки. Потребує досвідченого
            господаря.
          </p>
          <button class="pets-card-btn" type="button">Дізнатись більше</button>
        </div>
      </li>
      <li class="pets-card">
        <img
          class="pets-card-img"
          alt="Мія"
          src="../img/desk/pets/card-2.jpg"
        />
        <div class="pets-card-cont">
          <p class="pet-spec">Кіт</p>
          <h3 class="pet-name">Мія</h3>
          <div class="pet-filter-wrap">
            <p class="pet-filter">Коти</p>
          </div>
          <div class="pet-wrap">
            <p class="pet-age">2 роки</p>
            <p class="pet-sex">Дівчинка</p>
          </div>
          <p class="pet-txt">
            Дуже ласкава та ніжна, але на початку трохи сором'язлива з
            незнайомцями.
          </p>
          <button class="pets-card-btn" type="button">Дізнатись більше</button>
        </div>
      </li>
      <li class="pets-card">
        <img
          class="pets-card-img"
          alt="Найда"
          src="../img/desk/pets/card-3.jpg"
        />
        <div class="pets-card-cont">
          <p class="pet-spec">Собака</p>
          <h3 class="pet-name">Найда</h3>
          <div class="pet-filter-wrap">
            <p class="pet-filter">Собаки</p>
            <p class="pet-filter">Тварини з особливими потребами</p>
          </div>
          <div class="pet-wrap">
            <p class="pet-age">6місяців</p>
            <p class="pet-sex">Дівчинка</p>
          </div>
          <p class="pet-txt">
            Після операції на лапці, потребує спокійного дому та мінімального
            догляду. Дуже любить дітей.
          </p>
          <button class="pets-card-btn" type="button">Дізнатись більше</button>
        </div>
      </li>
      <li class="pets-card">
        <img
          class="pets-card-img"
          alt="Сніжок"
          src="../img/desk/pets/card-4.jpg"
        />
        <div class="pets-card-cont">
          <p class="pet-spec">Кролик</p>
          <h3 class="pet-name">Сніжок</h3>
          <div class="pet-filter-wrap">
            <p class="pet-filter">Кролики</p>
          </div>
          <div class="pet-wrap">
            <p class="pet-age">1 рік</p>
            <p class="pet-sex">Хлопчик</p>
          </div>
          <p class="pet-txt">
            Привчений до лотка, любить, коли його гладять по спинці.
          </p>
          <button class="pets-card-btn" type="button">Дізнатись більше</button>
        </div>
      </li>
      <li class="pets-card">
        <img
          class="pets-card-img"
          alt="Кеша"
          src="../img/desk/pets/card-5.jpg"
        />
        <div class="pets-card-cont">
          <p class="pet-spec">Птах</p>
          <h3 class="pet-name">Кеша</h3>
          <div class="pet-filter-wrap">
            <p class="pet-filter">Птахи</p>
          </div>
          <div class="pet-wrap">
            <p class="pet-age">5 років</p>
            <p class="pet-sex">Хлопчик</p>
          </div>
          <p class="pet-txt">
             Вміє говорити «Привіт!» та «Кеша хороший». Любить дзеркальце та
            увагу.
          </p>
          <button class="pets-card-btn" type="button">Дізнатись більше</button>
        </div>
      </li>
      <li class="pets-card">
        <img
          class="pets-card-img"
          alt="Мурчик"
          src="../img/desk/pets/card-6.jpg"
        />
        <div class="pets-card-cont">
          <p class="pet-spec">Кіт</p>
          <h3 class="pet-name">Мурчик</h3>
          <div class="pet-filter-wrap">
            <p class="pet-filter">Коти</p>
          </div>
          <div class="pet-wrap">
            <p class="pet-age">8 років</p>
            <p class="pet-sex">Хлопчик</p>
          </div>
          <p class="pet-txt">
            Дуже спокійний та виважений. Ідеальний компаньйон для літньої
            людини. Втратив дім через переїзд господарів.
          </p>
          <button class="pets-card-btn" type="button">Дізнатись більше</button>
        </div>
      </li>
      <li class="pets-card">
        <img
          class="pets-card-img"
          alt="Хома"
          src="../img/desk/pets/card-7.jpg"
        />
        <div class="pets-card-cont">
          <p class="pet-spec">Хом'як</p>
          <h3 class="pet-name">Хома</h3>
          <div class="pet-filter-wrap">
            <p class="pet-filter">Гризуни</p>
          </div>
          <div class="pet-wrap">
            <p class="pet-age">8 місяців</p>
            <p class="pet-sex">Хлопчик</p>
          </div>
          <p class="pet-txt">
            Дуже активний вночі. Віддається разом з великою кліткою та колесом
            для бігу.
          </p>
          <button class="pets-card-btn" type="button">Дізнатись більше</button>
        </div>
      </li>
      <li class="pets-card">
        <img
          class="pets-card-img"
          alt="Перлинка"
          src="../img/desk/pets/card-8.jpg"
        />
        <div class="pets-card-cont">
          <p class="pet-spec">Кіт</p>
          <h3 class="pet-name">Перлинка</h3>
          <div class="pet-filter-wrap">
            <p class="pet-filter">Коти</p>
          </div>
          <div class="pet-wrap">
            <p class="pet-age">3 роки</p>
            <p class="pet-sex">Дівчинка</p>
          </div>
          <p class="pet-txt">
            Втратила око внаслідок травми, але це абсолютно не заважає їй бути
            активною, грайливою та люблячою.
          </p>
          <button class="pets-card-btn" type="button">Дізнатись більше</button>
        </div>
      </li>
      <li class="pets-card">
        <img
          class="pets-card-img"
          alt="Стюарт"
          src="../img/desk/pets/card-9.jpg"
        />
        <div class="pets-card-cont">
          <p class="pet-spec">Декоративний щур</p>
          <h3 class="pet-name">Стюарт</h3>
          <div class="pet-filter-wrap">
            <p class="pet-filter">Гризуни</p>
            <p class="pet-filter">Тварини з особливими потребами</p>
            <p class="pet-filter">Терміново шукають дім</p>
          </div>
          <div class="pet-wrap">
            <p class="pet-age">1,5 року</p>
            <p class="pet-sex">Хлопчик</p>
          </div>
          <p class="pet-txt">
            Дуже розумний, але потребує операції. Терміново потрібна допомога!
          </p>
          <button class="pets-card-btn" type="button">Дізнатись більше</button>
        </div>
      </li>
    </ul>
    <button class="pets-more-btn">Показати більше</button>
  </div>
</section>
